*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chizma{
    text-align: center;
    margin: 100px 0;
}
canvas {
    border: 1px solid blue;
    width: 560px;
    height: 360px;
  }